name: CI
on: 
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
      security-events: write
      actions: read
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.2
        
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 22.17.0
          
      - name: Mocha and dependencies install
        run: |
          cd src;
          npm install -g mocha;
          npm install
        
