name: CI
on: 
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
      security-events: write
      actions: read
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.2
        
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.0.0
        with:
          node-version: 22.17.0
          
       #uso do pipe (|) quando for executar mais de um comando no step   
      - name: Mocha and dependencies install
        run: |
          cd src;
          npm install -g mocha;
          npm install

      - name: Test execution
        run: mocha src/test/convert.js

      - name: Verifica se os Secrets Existem
        run: |
          if [ -z "${{ secrets.DOCKERHUB_USERNAME }}" ]; then
          echo "Erro: DOCKERHUB_USERNAME está vazio!"
          exit 1
          fi
          echo "DOCKERHUB_USERNAME foi preenchido (não será exibido)."
           # NÃO faça isso com a senha!          

      - name: Login to Docker Hub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }} # Use um Personal Access Token, não a senha da conta
      

      - name: Build and push Docker images
        uses: docker/build-push-action@v6.18.0
        with:
          context: src
          file: src/Dockerfile
          push: true
          tag: |
            chaosdevandy/conversao-temperatura:v1
            chaosdevandy/conversao-temperatura:latest

        
